<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    
    <%= form.text_field :first_name, required: true, pattern: "[A-Za-z]+", 
    class: "form-control", 
    placeholder:"First Name"%>
  
  </div>

  <div class="field form-group">
    
    <%= form.text_field :last_name, required: true, pattern: "[A-Za-z]+", 
    class: "form-control",
    placeholder:"Last Name" %>
    
  </div>

  <div class="field form-group">
    
    <%= form.text_field :znumber, required: true, pattern: "Z[0-9]{8}", 
    class: "form-control", 
    placeholder:"Z number" %>
    
  </div>


  <div class="field form-group">
  <%= form.text_field :email, required: true, pattern: "[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}", class: "form-control", placeholder: "Email" %>
  <small class="form-text text-muted">We will never share your email with anyone else.</small>
  
  
</div>

<div class="field form-group">
  <%= form.label :advisor %>
  <%= form.select :advisor, ["Professor", "Mr", "Mrs", "Doctor"], prompt: "Select an option", required: true %>
  
  
</div>
</br>

  <div class="field form-group">
    
    <%= form.text_field :date, 
    class: "form-control",
    placeholder:"Date" %>
    
  </div>

  <div class="field form-group">
    <small class="form-text text-muted">Appointments are from 9am to 6pm</small>
    
    <input type="time" <%= form.text_field :time, min: "09:00", max:"18:00" %>
    <span class="validity"></span>
  </div>

  <div class="actions form-group">
    </br>
    <%= form.submit "Submit", class:"btn btn-dark" %>
  </div>
</br>
<% end %>
