<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    
    <%= form.text_field :first_name, 
    class: "form-control", 
    placeholder:"First Name"%>
    
  </div>

  <div class="field form-group">
    
    <%= form.text_field :last_name, 
    class: "form-control",
    placeholder:"Last Name" %>
    
  </div>

  <div class="field form-group">
    
    <%= form.text_field :znumber, 
    class: "form-control", 
    placeholder:"Znumber" %>
    
  </div>


  <div class="field form-group">
  <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
  <small class="form-text text-muted">We will never share your email with anyone else.</small>
  
  
</div>

<div class="field form-group">
  <%= form.text_field :advisor, 
  class: "form-control", 
  placeholder: "Advisor" %>
  
  
</div>


  <div class="field form-group">
    
    <%= form.text_field :date, 
    class: "form-control",
    placeholder:"Date" %>
    
  </div>

  <div class="field form-group">
    <%= form.label :time %>
    <%= form.time_select :time, 
    class: "form-control" %>
  </div>

  <div class="actions form-group, 
  class: "form-control"">
    <%= form.submit %>
  </div>
<% end %>
