<p id="notice"><%= notice %></p>
<body class="custom-background">
  <div class="flex-container">
    <div class="card">
      <% @posts.each_with_index do |post, index| %>
        <div class="card-header text-black">
          <%= post.first_name %> <%= post.last_name %>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col"><%= post.znumber %></div>
            <div class="col"><%= post.user_id %></div>
            <div class="col"><%= post.advisor %></div>
            <div class="col"><%= post.date %></div>
            <div class="col"><%= post.time&.strftime('%I:%M %p') %></div>
            <div class="col">
              <%= link_to 'Show', post, class: "btn btn-dark"%>
              <% if post.user == current_user %>
                <%= link_to 'Destroy', post, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
                <div class="col"></div>
                <div class="col"></div>
              <% end %>
            </div>
          </div>
        </div>
 
        <% if index != @posts.length - 1 %>
          <div style="margin-bottom: 20px;"></div>
        <% end %>
      <% end %>
    </div>
  </div>
</body>