<!DOCTYPE html>
<html lang="en">
<head>
  <title>Receptionist Robot Dog</title>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="custom-background">
  <div class="flex-container">
    <% @posts.each_with_index do |post, index| %>
      <div class="card" style="width: 25rem;">
        <h5 class="card-header text-black">
          <%= post.date %>
          <%= post.time&.strftime('%I:%M %p') %>
        </h5>
        <div class="card-body d-flex align-items-center">
          <% if post.image.attached? %>
          <%= image_tag(post.image, class: "rounded-circle", style: "width: 74px; height: 74px;") %>
          <% else %>
          <%= image_tag(asset_path('DAISY.png'), style: "width: 74px; height 74px;") %>
          <% end %>
          <ul class="list-group list-group-light list-group-small border-0">
            <div class="list-group-item px-3 border-0">Appointment with <%= post.advisor %></div>
            <div class="list-group-item px-3 border-0">Room <%= post.room_number %></div>
            <div class="col">
              <%= link_to 'Show', post, class: "btn btn-primary text-white"%>
              <% if post.user == current_user %>
                <%= link_to 'Delete', post, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
                <div class="col"></div>
                <div class="col"></div>
              <% end %>
            </div>
          </ul>
        </div>
      </div>
      <% if index != @posts.length - 1 %>
        <div style="margin-bottom: 20px;"></div>
      <% end %>
    <% end %>
  </div>
</body>
</html>